body {
    background-size: contain;
    background-color: rgb(247, 241, 234);
    font-family: Lyon Display Web,Times New Roman,serif;
    text-align: center;
}
footer { 
  text-align: center; 
  padding: 40px 0; 
  margin: 0;
 }

.jumbotron {
  background-image: url(../images/master.jpg);
}  

.top-wrapper {
  padding: 180px 0 100px 0 ;
  background-image: url(../images/mains.jpg); 
  background-position: center;
  background-size: auto;
  color: rgb(248, 243, 243);
  font-weight: bold;
  text-align: center;
  background-repeat: no-repeat;
}
.resizeimage img { 
  width: 100%;
}
.example {
  text-align:center;
}
a {
  color: rgb(66, 67, 67);
  text-decoration: none;
}
p {
  text-align: center;
  line-height: 1.5em;
  margin: 0 0 16px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 16px;
  margin-left: 0px;
}
h2 {
  color: rgb(91, 90, 90);
  margin-top: 10px;
  margin-bottom: 10px;
}

/* グルーバルメニュー */
nav.globalMenuSp {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100%;
  overflow: auto;
  background: #eee;
  color: rgb(44, 43, 43);
  text-align: center;
  transform: translateX(-100%);
  transition: all 0.6s;
  width: 70%;
  -webkit-overflow-scrolling: touch;
}

nav.globalMenuSp ul {
  background: #ccc;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

nav.globalMenuSp ul li {
  font-size: 1.1em;
  list-style-type: none;
  padding: 0;
  width: 100%;
  border-bottom: 1px dotted #333;
}

/* 最後は点線のラインを描かない */
nav.globalMenuSp ul li:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

nav.globalMenuSp ul li a {
  display: block;
  color: #000;
  padding: 1em 0;
}

/* このクラスを、jQueryで付与・削除する */
nav.globalMenuSp.active {
  transform: translateX(0%);
}

/* メニュー内ヘッダ */
nav.globalMenuSp .menuHeader {
  background: #ffdb99;
  padding: 1.5em 0;
}

/* メニューだけをスクロールさせる工夫 */
.overflowHidden {
  overflow: hidden;
}
.navToggle {
  display: block;
  position: fixed;    /* bodyに対しての絶対位置指定 */
  right: 25px;
  top: 12px;
  width: 42px;
  height: 51px;
  cursor: pointer;
  z-index: 3;
  
  text-align: center;
}

.navToggle span {
  display: block;
  position: absolute;    /* .navToggleに対して */
  width: 30px;
  border-bottom: solid 3px rgb(147, 145, 145);
  -webkit-transition: .35s ease-in-out;
  -moz-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
  left: 6px;
}

.navToggle span:nth-child(1) {
  top: 9px;
}

.navToggle span:nth-child(2) {
  top: 18px;
}

.navToggle span:nth-child(3) {
  top: 27px;
}

.navToggle span:nth-child(4) {
  border: none;
  color: #eee;
  font-size: 9px;
  font-weight: bold;
  top: 34px;
}
/* 最初のspanをマイナス45度に */
.navToggle.active span:nth-child(1) {
  top: 18px;
  left: 6px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* 2番目と3番目のspanを45度に */
.navToggle.active span:nth-child(2),
.navToggle.active span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*お問合せフォーム*/
.Form {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
  }
  @media screen and (max-width: 480px) {
  .Form {
  margin-top: 40px;
  }
  }
  .Form-Item {
  border-top: 1px solid #ddd;
  padding-top: 24px;
  padding-bottom: 24px;
  width: 100%;
  display: flex;
  align-items: center;
  }
  @media screen and (max-width: 480px) {
  .Form-Item {
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 16px;
  padding-bottom: 16px;
  flex-wrap: wrap;
  }
  }
  .Form-Item:nth-child(5) {
  border-bottom: 1px solid #ddd;
  }
  .Form-Item-Label {
  width: 100%;
  max-width: 248px;
  letter-spacing: 0.05em;
  font-weight: bold;
  font-size: 18px;
  }
  @media screen and (max-width: 480px) {
  .Form-Item-Label {
  max-width: inherit;
  display: flex;
  align-items: center;
  font-size: 15px;
  }
  }
  .Form-Item-Label.isMsg {
  margin-top: 8px;
  margin-bottom: auto;
  }
  @media screen and (max-width: 480px) {
  .Form-Item-Label.isMsg {
  margin-top: 0;
  }
  }
  .Form-Item-Label-Required {
  border-radius: 6px;
  margin-right: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 48px;
  display: inline-block;
  text-align: center;
  background: #79d2bb;
  color: #fff;
  font-size: 14px;
  }
  @media screen and (max-width: 480px) {
  .Form-Item-Label-Required {
  border-radius: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  width: 32px;
  font-size: 10px;
  }
  }
  .Form-Item-Input {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 48px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #eaedf2;
  font-size: 18px;
  }
  @media screen and (max-width: 480px) {
  .Form-Item-Input {
  margin-left: 0;
  margin-top: 18px;
  height: 40px;
  flex: inherit;
  font-size: 15px;
  }
  }
  .Form-Item-Textarea {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 216px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #eaedf2;
  font-size: 18px;
  }
  @media screen and (max-width: 480px) {
  .Form-Item-Textarea {
  margin-top: 18px;
  margin-left: 0;
  height: 200px;
  flex: inherit;
  font-size: 15px;
  }
  }
  .Form-Btn {
  border-radius: 6px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 280px;
  display: block; 
  letter-spacing: 0.05em;
  background: #79d2bb;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  }
  @media screen and (max-width: 480px) {
  .Form-Btn {
  margin-top: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 160px;
  font-size: 16px;
  }
}

  
/*スライドショー*/
.slider_fade {
  position: relative;
}

.slider_fade > li {
  position: absolute;
  list-style: none;
  visibility: hidden;
  animation: anime_slider_fade 12s 0s infinite;
}
.slider_fade > li:nth-of-type(2) {
  animation-delay: 4s;
}
.slider_fade > li:nth-of-type(3) {
  animation-delay: 8s;
}

@keyframes anime_slider_fade {
  0% {
      visibility: visible;
      opacity: 0;
  }
  15% {
      opacity: 1;
  }
  33.3% {
      opacity: 1;
  }
  48.3% {
      opacity: 0;
  }
  100% {
      opacity: 0;
  }
}

div.Form {
  margin: auto;
}

div.home {
  margin-top: 50px;
  
}